---
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables
WarningsAsErrors: '*'
HeaderFilterRegex: '^(stnl|main)/'
ExtraArgs: [-std=c++20]
FormatStyle: file
...
